<main class="container">
  <app-nav-bar></app-nav-bar>
  <input type="text" placeholder="Search for a cat breed" (keyup)="onInputChange($event)">
  <p *ngIf="loading">Searching...</p>

  <div>
    <article *ngFor="let breed of breeds">
      <details>
        <summary>{{breed.name}}</summary>
        <table>
          <tr>
            <td>id</td>
            <td>{{breed.id}}</td>
          </tr>
          <tr>
            <td>name</td>
            <td>{{breed.name}}</td>
          </tr>
          <tr>
            <td>temperament</td>
            <td>{{breed.temperament}}</td>
          </tr>
          <tr>
            <td>life_span</td>
            <td>{{breed.life_span}}</td>
          </tr>
          <tr>
            <td>alt_names</td>
            <td>{{breed.alt_names}}</td>
          </tr>
          <tr>
            <td>wikipedia_url</td>
            <td>{{breed.wikipedia_url}}</td>
          </tr>
          <tr>
            <td>origin</td>
            <td>{{breed.origin}}</td>
          </tr>
          <tr>
            <td>weight_imperial</td>
            <td>{{breed.weight_imperial}}</td>
          </tr>
          <tr>
            <td>experimental</td>
            <td>{{breed.experimental}}</td>
          </tr>
          <tr>
            <td>hairless</td>
            <td>{{breed.hairless}}</td>
          </tr>
          <tr>
            <td>natural</td>
            <td>{{breed.natural}}</td>
          </tr>
          <tr>
            <td>rare</td>
            <td>{{breed.rare}}</td>
          </tr>
          <tr>
            <td>rex</td>
            <td>{{breed.rex}}</td>
          </tr>
          <tr>
            <td>suppress_tail</td>
            <td>{{breed.suppress_tail}}</td>
          </tr>
          <tr>
            <td>short_legs</td>
            <td>{{breed.short_legs}}</td>
          </tr>
          <tr>
            <td>hypoallergenic</td>
            <td>{{breed.hypoallergenic}}</td>
          </tr>
          <tr>
            <td>adaptability</td>
            <td>{{breed.adaptability}}</td>
          </tr>
          <tr>
            <td>affection_level</td>
            <td>{{breed.affection_level}}</td>
          </tr>
          <tr>
            <td>country_code</td>
            <td>{{breed.country_code}}</td>
          </tr>
          <tr>
            <td>child_friendly</td>
            <td>{{breed.child_friendly}}</td>
          </tr>
          <tr>
            <td>dog_friendly</td>
            <td>{{breed.dog_friendly}}</td>
          </tr>
          <tr>
            <td>energy_level</td>
            <td>{{breed.energy_level}}</td>
          </tr>
          <tr>
            <td>grooming</td>
            <td>{{breed.grooming}}</td>
          </tr>
          <tr>
            <td>health_issues</td>
            <td>{{breed.health_issues}}</td>
          </tr>
          <tr>
            <td>intelligence</td>
            <td>{{breed.intelligence}}</td>
          </tr>
          <tr>
            <td>shedding_level</td>
            <td>{{breed.shedding_level}}</td>
          </tr>
          <tr>
            <td>social_needs</td>
            <td>{{breed.social_needs}}</td>
          </tr>
          <tr>
            <td>stranger_friendly</td>
            <td>{{breed.stranger_friendly}}</td>
          </tr>
          <tr>
            <td>vocalisation</td>
            <td>{{breed.vocalisation}}</td>
          </tr>
        </table>
      </details>
    </article>
  </div>
</main>
